<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>326956180774-fo3qv8p9hknlrvhre9nt778gra879e86.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.326956180774-fo3qv8p9hknlrvhre9nt778gra879e86</string>
	<key>API_KEY</key>
	<string>AIzaSyAXpFFJl31T-wT4Y61nyHKmiQ9nWJ_lXlU</string>
	<key>GCM_SENDER_ID</key>
	<string>326956180774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Monash.TSAssignment3</string>
	<key>PROJECT_ID</key>
	<string>fit5140-assignment3-257610</string>
	<key>STORAGE_BUCKET</key>
	<string>fit5140-assignment3-257610.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:326956180774:ios:3328fb04d81d20742acde7</string>
	<key>DATABASE_URL</key>
	<string>https://fit5140-assignment3-257610.firebaseio.com</string>
</dict>
</plist>